@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: min(80%, 600px);
  margin: 3rem auto 0;
  padding: 8rem 0;
  outline: 1px solid;
}

.grid-container {
  display: grid;
  place-items: center;
}

.bell-holder-container {
  background: #fff4e3;
  width: 3rem;
  padding: 0.5rem;
  border-radius: 0.3rem;
  box-shadow: 0 0.25rem 1.5rem rgb(156, 130, 38);
  position: relative;
}

.bell-holder-grid-container {
  display: grid;
  place-items: center;
}

.bell-icon {
  width: 1.5rem;
}

.notification-icon {
  background: #eb5757;
  width: 1.5rem;
  aspect-ratio: 1;
  border-radius: 50%;
  position: absolute;
  top: -20%;
  right: -10%;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
}

.notification-icon-container {
  display: grid;
  place-items: center;
}
