* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: min(95%, 800px);
  height: 50vmin;
  margin: 3rem auto 0;
  outline: 1px solid;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
}

.black {
  background: black;
}
