* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: min(80%, 800px);
  height: 80vmin;
  margin: 3rem auto 0;
  outline: 1px solid;
}

.grid-container {
  display: grid;
  place-items: center;
}

.icon {
  background: #bc002d;
  width: 10rem;
  aspect-ratio: 1;
  border-radius: 50%;
}
