@font-face{
  font-family: "helvetica";
  src: url("https://candyfonts.com/wp-data/2018/10/26/11538/HELR45W.ttf") format("woff"),
       url("https://candyfonts.com/wp-data/2018/10/26/11538/HELR45W.ttf") format("opentype"),
       url("https://candyfonts.com/wp-data/2018/10/26/11538/HELR45W.ttf") format("truetype");
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "helvetica", sans-serif;
  line-height: 1.5;
}

:root{
  --spacer: 0.5rem;
  --color-one: rgb(6, 186, 240);
  --color-two: rgb(189, 189, 189);
  --color-three: rgb(255, 255, 255);
  --color-four: rgb(76, 91, 92);
  --color-five: rgb(240, 200, 8);
  --font-size: calc(14.4 /16 * 1rem);
}

.header{
  background: var(--color-one);
  padding: calc(var(--spacer) * 2);
}

.logo{
  width: 100%;
  height: calc(120 / 16 * 1rem);
  object-fit: contain;
}

.main-grid{
  width: 100% - 2rem;
  margin: calc(var(--spacer) * 4) auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, (minmax(min(calc(300 / 16 * 1rem), 100%), 1fr)));
  gap: calc(var(--spacer) * 6);
  
  @media (min-width: calc(980 / 16 * 1rem)){
    width: min(90%, calc(1300 / 16 * 1rem));
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "first first second" 
                         "third third second"
                         "fifth fourth fourth"
                         "fifth sixth sixth";
    gap: calc(var(--spacer) * 6) calc(var(--spacer) * 3);
  }
  
}

.first-card{
  
  @media (min-width: calc(980 / 16 * 1rem)){
    grid-area: first;
  }
  
}

.second-card{
  
  @media (min-width: calc(980 / 16 * 1rem)){
    grid-area: second;
  }
  
}

.third-card{
  
  @media (min-width: calc(980 / 16 * 1rem)){
    grid-area: third;
  }
  
}

.third-card > .robot-text-container, .sixth-card > .robot-text-container{
  
  @media (min-width: calc(980 / 16 * 1rem)){
    order: -1;
  }
  
}

.fourth-card{
  
  @media (min-width: calc(980 / 16 * 1rem)){
    grid-area: fourth;
  }
  
}

.fifth-card{
  
  @media (min-width: calc(980 / 16 * 1rem)){
    grid-area: fifth;
    align-self: end;
  }
  
}

.sixth-card{
  
  @media (min-width: calc(980 / 16 * 1rem)){
    grid-area: sixth;
  }
  
}

.robot-card{
  border: 2px solid var(--color-two);
  padding: calc(var(--spacer) * 4);
  border-radius: calc(var(--spacer) * 2);
  align-self: start;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(15rem, 100%), 1fr));
  place-items: center;
  gap: calc(var(--spacer) * 4);
}

.robot-img-container{
  justify-self: center;
}

.robot-image{
  max-width: 100%;
}

.robot-text-container > *:not(:last-child){
  margin-block-end: calc(var(--spacer) * 2);
}

.footer{
  background: var(--color-four);
  margin-block-start: var(--spacer);
  padding: calc(var(--spacer) * 4) calc(var(--spacer) * 2);
  color: var(--color-three);
  font-size: var(--font-size);
  text-align: center;
}

.footer-link{
  color: inherit;
  text-decoration: none;
}

.footer-link:last-of-type{
  text-decoration: revert;
}

.footer-link:last-of-type:hover, .footer-link:last-of-type:focus-visible{
  color: var(--color-five);
}