@import url('https://fonts.googleapis.com/css2?family=Lato');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

:root{
  --space-extra-small: 0.5rem;
  --space-small: 1rem;
  --space-medium: 1.5rem;
  --space-extra-medium: 2rem;
  --space-extra-large: 4rem;
}

/* Common Container */
.container{
  inline-size: min(80%, 800 / 16 * 1rem);
  margin: 0 auto;
}

/* 01. Header Section */
.header{
  border-bottom: 8px solid hsl(0deg, 0%, 30%);
  padding: var(--space-extra-large) 0 var(--space-extra-large) var(--space-small);
}

.company-name{
  margin-block-end: var(--space-medium);
}

.header-para{
  inline-size: min(35ch, 100%);
  font-size: 1.25rem;
  line-height: 1.5;
}

.highlight{
  color: hsl(160deg, 100%, 20%);
}

.first-header-para{
  margin-block-end: var(--space-medium);
}

/* 02. Main Section */
.main{
  background-color: hsl(0deg, 0%, 40%);
  padding: var(--space-extra-large) 0;
}

.main-container{
  background-color: hsl(0deg, 0%, 100%);
  border-block-end: 8px solid hsl(0deg, 0%, 30%);
  padding: var(--space-extra-small) 0 var(--space-extra-small) var(--space-extra-small);
}

.main-heading{
  background-color: hsl(45deg, 100%, 50%);
  inline-size: fit-content;
  margin-block-end: var(--space-small);
  margin-inline-start: calc(var(--space-small) * -1);
  border-block-end: 8px solid hsl(45deg, 100%, 40%);
  padding: var(--space-extra-small) var(--space-medium); 
}

.main-para{
  margin-block-end: var(--space-small);
  padding: 0 var(--space-extra-small);
}
