* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes waving {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(30deg);
  }
}

html,
body {
  height: 100%;
}

body {
  display: grid;
  place-content: center;
}

.waving-emoji {
  font-size: 3rem;

  @media (prefers-reduced-motion: no-preference) {
    animation: waving 400ms alternate ease-in-out infinite;
    transform-origin: 80% 75%;
  }
}
