* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: min(90%, 800px);
  height: 60vmin;
  margin: 3rem auto 0 auto;
  outline: 1px solid;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.green {
  background: #008751;
}

.yellow-and-red-container {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

.yellow {
  background: #fcd116;
}

.red {
  background: #e8112d;
}
