* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: min(80%, 800px);
  margin: 3rem auto 0;
  outline: 1px solid;
  height: 60vmin;
}

.grid-container {
  display: grid;
  grid-template-columns: 25% 4% 10% 4% 1fr;
  grid-template-rows: 1fr 6% 15% 6% 1fr;
}

.red {
  background: #ba0c2f;
}

.blue {
  background: #00205b;
}
